* { margin:0; }

html, body{ overflow:hidden; }

body span {
    color: #333;
}

.MsoNormal,
.MsoBodyText {
    margin: 0in;
    margin-bottom: .0001pt;
    font-size: 12.0pt;
}

.MsoNormal {
  font-family: "Times New Roman", "serif";
}

.MsoBodyText {
  font-family:"Leelawadee","sans-serif";
}

/* Hide Scroll Bar */
#container1,
#container2 {
    width: 100%;
    height: 100%;
}

#container1 {
    text-align: center;
    overflow: hidden;
}

#container2 {
    overflow: auto;
    padding-right: 0px; /* exact value is given in JavaScript code */
}

/* https://stackoverflow.com/questions/20214735/can-you-make-a-child-div-larger-than-parent-without-position-absolute */
#content-wrap {
    width: 100vw;/* <-- children as wide as the browser window (viewport) */
    margin-left: calc(-1 * ((100vw - 100%) / 2));/* align left edge to the left edge of the viewport */
}

/* Description */
#description {
    max-width: 616px;
    margin: 0 auto;
}

#description span {
    display: block;
    font-size:13.0pt;
    padding-right: 2em;
    padding-left: 2em;
}
