body span
{
    color: #333;
}

#wrapper
{
    text-align: center;
}

#content
{
    height:100%;
    width: 616px;
    display: inline-block;
}

#resume, .outerhidescroll
{
    width:100%;
    height: 750px;
    width: 616px;
}

.outerhidescroll
{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.innerhidescroll
{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
}

#resume
{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    overflow-y: scroll;
    margin-bottom: 20px;
}

p.MsoBodyText span
{
    font-family:"Leelawadee","sans-serif";
}
